body {
    background: #24353f;
    font-family: "Titillium Web", sans-serif;
  }
  a{
    text-decoration: none;
  }
 a:hover {
    text-decoration: underline;
}

  h1 {
    color: #17a2b8;
  }
  
  input {
    background-color: transparent !important;
    color: white !important;
  }
  
  input::placeholder {
    color: rgb(185, 180, 180) !important;
  }
  
  .form-content {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  }
  